<div class="bg" style="overflow: hidden">
  <div>
    <!--style="overflow:visible"> -->
    <div class="wrapper">
      <div class="container1">
        <div class="top">
          <div class="nav1" style="height:100%;width:100%;overflow: hidden;">
            <span style="float:left;width:36%;height:100%;font-size: 25px;">
              <img style="float:left;border-radius:100%;width:19%;height:100%" src="../../assets/john.png">&nbsp;
              <b style="float:left;padding-left: 27px">Bryan</b>
              
             </span>
             <span *ngIf="display" style="float:left;width:45%;height:100%;font-size: 25px;">
                <img style="float:left;border-radius:100%;width:12%;height:90%" src={{dpic}}>&nbsp;
                <b style="float:left;padding-left: 27px">{{dname}}</b>                        
              </span>
              <button *ngIf="display"  type="button" class="btn btn-danger" style="float:right" (click)=end()>End chat</button>
          </div>
        </div>
      </div>
      <div class="container" style="top:22%;">
        <div class=" left">
          <div style="overflow: auto;overflow-x: hidden; height:89%">
            <div class="people">
              <div *ngFor="let user of persons" style="background-color:s" (click)=userlog(user) class="person">
                <img src={{user.profile_pic}} alt="" />
                <span class="name" id="user" name="user">{{user.first_name}}</span>
                <br>
                {{user.status}}
                <span *ngIf="user.status=='accepted'"><button type="button"
                    style="border-radius: 100%;margin-top: -12%;margin-left:25%"
                    class="btn btn-success">&#10004;</button></span>
                <br>
              </div>
            </div>
          </div>
          <div style="background-color:white;height:11%;place-items:center center;text-align: center">
            <img style="font-size:25px " width=55% height=90% src="../../assets/miracle-logo-dark.png"
              alt="USER REQUESTS">
            <!-- <span style="float: center;-webkit-text-fill-color: lightcyan;align-content: center"> <i>Built by Miracle Innovation Lab's</i></span> -->
          </div>
        </div>
        <!-- right chat window -->
        <div class="right">
          <div class="chat-box" #scrollMe [scrollTop]="scrollMe.scrollHeight">
            <div class="chat-box-main">
              <ng-container *ngFor="let msg of messages">
                <div class="chat-message" [class.chat-message-received]="msg.type === 'received'"
                  [class.chat-message-sent]="msg.type === 'sent'">
                  <div>
                    <img *ngIf="msg.type==='receive'" style="margin-right: 1000px" width="10%" height="10%"
                      style="border-radius: 50%" src={{userimg}}>
                    <div class="chat-message-text">
                      {{msg.message}}{{msg.text}}
                    </div>
                  </div>
                  <div class="chat-message-date">
                    {{msg.date | date: 'short'}}
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="chat-box-footer">
            <app-cp (send)="sendMessage($event)" [focus]="focus"></app-cp>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>