@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #c2c0c0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    background-image: url("http://s17.postimg.org/fr01hfe33/image.jpg");
    background-size: cover;
    background-repeat: none;
}


.wrapper {
    position: relative;
    left: 48%;
    width: 1000px;
    height: 700px;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.container {
    margin-top:7%;
    position: relative;
    left: 45%;
    width: 80%;
    height: 75%;
    background-color: #fff;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.container1 {
    margin-top: 4%;
    position: relative;
    left: 55%;
    width: 80%;
    height: 10%;
    background-color: rgb(207, 200, 200);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.container .left {
    float: left;
    width: 38%;
    height: 109%;
    /* border: 1px solid #e6e6e6; */
    background-color: rgb(221, 221, 221);
    margin-left:-15px;
    overflow: auto;
    overflow-x: hidden;
}
.container1 .left {
    float: left;
    width: 38%;
    height: 100%;
    /* border: 1px solid #e6e6e6; */
    background-color: rgb(207, 200, 200);
    margin-left:-15px;
    overflow: auto;
    overflow-x: hidden;
}


.container1  .top {
    position: relative;
    align-content: center;
    align-items: center;
    width: 100%  ;
    height: 100%;
    text-align: center;
    background-color: rgb(236, 236, 236);;
    padding: 15px;
    margin-left: 0;
}

.color-mad {
    background-color: green
}
.container .left .people {
    
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    width: -moz-calc(100% + 2px);
    width: -webkit-calc(100% + 2px);
    width: -o-calc(100% + 2px);
    width: calc(100% + 2px);
}

.container .left .people .person {
    position: relative;
    width: 100%;
    font-size: 10px;
    padding: 12px 10% 16px;
    cursor: pointer;
    background-color: #00b0ff;
}

.container .left .people .person:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 70%;
    height: 1px;
    content: '';
    background-color: #e6e6e6;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.container .left .people .person img {
    float: left;
    width: 40px;
    height: 35px;
    margin-right: 12px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.container .left .people .person .name {
    font-size: 14px;
    line-height: 22px;
    color: #1a1a1a;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

.container .left .people .person .time {
    font-size: 14px;
    position: absolute;
    top: 16px;
    right: 10%;
    padding: 0 0 5px 5px;
    color: #999;
    background-color: #fff;
}

.container .left .people .person .preview {
    font-size: 14px;
    display: inline-block;
    overflow: hidden !important;
    width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #999;
}

.container .left .people .person.active,
.container .left .people .person:hover {
    /* margin-top: -1px; */
    margin-left: -1px;
    padding-top: 13px;
    border: 0;
    background-color: #00b0ff;
    width: -moz-calc(100% + 2px);
    width: -webkit-calc(100% + 2px);
    width: -o-calc(100% + 2px);
    width: calc(100% + 2px);
    padding-left: -moz-calc(10% + 1px);
    padding-left: -webkit-calc(10% + 1px);
    padding-left: -o-calc(10% + 1px);
    padding-left: calc(10% + 1px);
}

.container .left .people .person.active span,
.container .left .people .person:hover span {
    
    background: transparent;
}

.container .left .people .person.active:after,
.container .left .people .person:hover:after {
    display: none;
}

.container .right {
    position: fixed;
    margin-left: 35%;
    float: left;
    width: 62.4%;
    height: 100%;
}

.container .right .top {
width: 63.5%;
height: 47px;
padding: 12px;
text-align-last: center;
background-color: #f3f3f3ea;
position: fixed;
margin-left:-0.5%;

}

.container .left .top1 span {
    font-size: 15px;
    color: #999;
}

.container .left .top1 span .name {
    color:black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    
}
.container .right .top span {
    font-size: 15px;
    color:black;
}

.container .right .top .name {
    color:black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    -webkit-text-fill-color: #232527;
}


.container .right .write button {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNBcAjl9xWCtPrpyoWejWoSaVZE29zN_VuCOKx9vgq4OfDkKax')
}

.container .right .write input {
    font-size: 16px;
    float: left;
    width: 348px;
    height: 40px;
    padding: 0 10px;
    color: #1a1a1a;
    border: 0;
    outline: none;
    -webkit-text-fill-color: #eceff1;
    background-color: #1e8ed8;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

body {
    line-height: 1
}


.bg {
    margin-top:0%;
    background-image: url('https://d2b8lqy494c4mo.cloudfront.net/mss/images/career/career.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* height: fit-content !important; */
    height: 85%;
}

#img-bg {
    background: rgba(0, 0, 0, 0.5);
    height: 100% !important;
    width: 100%;
    /* margin-top: 6%; */
    /* position: relative; */

}

.chat-message {
    display: block;
    width: auto;
    margin: 5px;
    align-self: flex-start;
    flex-direction: row;
    max-width: 80%;
    word-wrap: break-word;
}

.chat-message-date {
    font-size: 11px;
    color: rgb(137, 141, 140);
    padding: 5px;
}

.chat-message-from-avatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.chat-message-text {
    margin-left: 10px;
    padding: 10px;
    background: #00aae7;
    -webkit-text-fill-color: #ffff;
    border-radius: 3px;
}

/**
Received message style
 */

.chat-message-received {
    margin-right: 50px;
}

.chat-message-received .chat-message-text {
    background:#00aae7;
    margin-right: 80px;
    -webkit-text-fill-color: white;
    border-bottom-left-radius: 0;
}

.chat-message-received .chat-message-date {
    margin-left: 10px;
}

.chat-message-received .chat-message-from-avatar {
    position: relative;
    left: 0;
    bottom: 0px;
}

/**
Sent message style
 */

.chat-message-sent {
    width: auto;
    align-self: flex-end;
}

.chat-message-sent .chat-message-from {
    float: right;
    width: auto;
}

.chat-message-sent .chat-message-text {
    background:#b7b2b3;
    width: auto;
    margin-left: 100px;
    text-align: end;
    border-bottom-right-radius: 0;
}


.chat-message-sent .chat-message-date {
    text-align: right;
    padding-right: 0px;
}

.chat-message-sent .chat-message-from-avatar {
    position: absolute;
    right: 0;
    bottom: -15px;
}

.chat-box {
    /* z-index: 2; */
    /* position: absolute; */
    /* left: 0;*/
    height: 99%;
    /* margin-top: 25%; */
    /* overflow: auto; */
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x:hidden;
}

.chat-box-header {
    padding: 0;
    color: #fff;
}

.chat-box-main {
    flex: 2;
    /* position: relative; */
    width: 480px;
    margin-top: 5%;
    height: auto;
    /* background: #f5f5f5; */
    display: flex;
    flex-direction: column-reverse;
   
}

.chat-box-footer {
    color: #fff;
    background-color: #00aae7;
    height: 54px;
    position: fixed;
    margin-left:-2.5px;
    /* margin-top: 50%; */
    width: 63.45%;
    
}