<!-- <div class="bg">
    <div id="img-bg"> -->
<!-- <mat-card style="width:100%;height:200%;place-items: center;background-size:cover">
            <mat-card style="margin:12.5% 5% 5% 37.5%;width:25%;background-color: rgba(226, 231, 231, 0.425)">
                <mat-card-header center>Agent login</mat-card-header>
                <form #login="ngForm" (ngSubmit)="onClickSubmit(login.value)" class="example-form">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Email" name="email" [formControl]="emailFormControl">
                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="password" name="pwd" type="password" [formControl]="pwd">
                        <mat-error *ngIf="pwd.hasError('required')">
                            passsword is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <div class="example-button-row">
                        <button style="align-content: center" mat-raised-button color="primary">Login</button>
                    </div>
                    <br>
                    <div *ngIf="log" class="alert alert-danger" role="alert">
                        Please Enter valid Credentials!
                    </div>
                </form>
            </mat-card>
        </mat-card> -->
<!-- </div>
</div> -->
<!-- 
<div id="wrapper">
    <div class="container">
        <aside class="users" style="overflow-x:hidden;overflow: auto">
            <header>
                <h1>Requests</h1>
            </header>
            <div>
                <ul>
                    <li *ngFor="let user of person">
                        <div class="avatar top">
                            <img src={{user.profile_pic}}>

                        </div>
                        <div class="users-list">
                            <div class="username">
                                <p> Yagnesh </p>
                                <span *ngIf="accepted==='accepted'" class="glyphicon glyphicon-ok"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
        <section id="chat-screen" style="position: relative" >
            <div class="chat-box-footer" style="background-color: #00aae7 ">
                <app-cp (send)="sendMessage($event)" [focus]="focus" style="background-color: #00aae7 "></app-cp>
            </div>
            <section id="messages">
                <div *ngFor="let msg of messages">
                    <article *ngIf="msg.type==='sentt'">
                        <div class="avtar">
                            <img src="http://www.clker.com/cliparts/a/5/3/U/U/Q/green-agent-md.png">
                        </div>
                        <div class="msg">
                            <div class="pointerr"></div>
                            <div class="inner-msg">
                                <p class="text"> {{msg.message}}{{msg.text}}</p>
                            </div>
                        </div>
                    </article>
                    <article class="right" *ngIf="msg.type==='sent'">
                        <div class="avtar">
                            <img src="http://www.clker.com/cliparts/a/5/3/U/U/Q/green-agent-md.png">
                        </div>
                        <div class="msg">
                            <div class="pointerr"></div>
                            <div class="inner-msg">
                                <p class="text"> {{msg.message}}{{msg.text}}</p>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
            <div style="background-color: #f3f3f3ea;height: 10%;align-content: center"><span>
                    <div *ngIf="true">
                        <img style="float:left;width:40px;height:40px;border-radius: 100%;margin-top: 1%"
                            src="http://www.clker.com/cliparts/a/5/3/U/U/Q/green-agent-md.png">
                        <p style="margin-left:2%;float:left;-webkit-text-fill-color:black;padding:2%">
                            <b>sadasdsa{{dname}}</b></p>
                        <button type="submit" class="chat-input-submit danger"
                            style="float:right;padding:2%;background-color:firebrick;border:none" (click)="end()">End
                            chat
                        </button>
                    </div>
                </span>
            </div>
        </section>
    </div>
</div>
<div style="background-color: black;height:5%;place-items:center center">
    <span style="text-align: left;-webkit-text-fill-color: lightcyan"> <i>@ 2019 Miracle Software Systems Inc</i></span>
    <span style="float: right;-webkit-text-fill-color: lightcyan"> <i>Miracle Innovation Lab's</i></span>
</div> -->

you are not agree with us