/* .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .bg {
    margin-top:0%;
    background-image: ur0l('https://d2b8lqy494c4mo.cloudfront.net/mss/images/career/career.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: fit-content !important;
    height: 100% !important;
  }
  
  #img-bg {
    background: rgba(0, 0, 0, 0.5);
    height: 100% !important;
    width: 100%;
    margin-top: 6%; 
     position: relative;
  
  } */

  
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            html {
                font-family: "Roboto", sans-serif;
                font-weight: 100;
                font-size: 10px;
            }

            #wrapper {
                max-width: 100%;
                height: 80%;
                display: flex;
                justify-content: center;
                /* align-items: center; */
                font-size: 1.5rem;
                background-color: #b5b5b7;
                color: #fff;
            }

            .container {
                max-width: 60%;
                height: 100%;
                display: flex;
                box-shadow: 1rem 2rem 4rem rgba(0, 0, 0, 0.25);
                min-width: 60rem;
            }

            .user,
            #chat-screen {
                flex-grow: 1;
                height: 100%;
                min-width: 30rem;
            }

            .users {
                background-color: #252839;
                width: 25%;
            }

            #chat-screen {
                background: linear-gradient(white);
                background-size: cover;
            }

            .users header {
                background-color: #676767;
                padding: 2rem 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .users ul {
                list-style-type: none;
            }

            .users ul li {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            }

            .users ul li:nth-last-child {
                border-bottom: none;
            }

            .users header h1 {
                font-size: 2rem;
                font-weight: 100;
            }

            .avtar img {
                width: 4rem;
                height: 4.6rem;
                border-radius: 50%;
            }

            .avatar .top img {
                width: 7.5rem;
                height: 7.6rem;
                border-radius: 50%;
            }

            .users .avatar {
                display: flex;
                margin: auto 0;
                padding: 1rem;
                position: relative;
            }

            .users .avatar img {
                width: 3.5rem;
                height: 4.6rem;
                border-radius: 50%;
            }

            .username {
                font-size: 1.5rem;
            }

            .online {
                background-color: #4ad99b;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                position: absolute;
                left: 6.5rem;
                bottom: 1.5rem;
            }

            .offline {
                background-color: #fa676a;
            }

            .users ul li .online {
                border: 2px solid #fff;
            }

            .users-list {
                flex-grow: 2;
                margin: auto 0;
            }

            .text {
              display: block;
                font-size: 1.3rem;
                margin: 0 0;
                height: auto;
                  
            }

            .timestamp {
                font-size: 0.7rem;
                flex-grow: 2;
                margin: auto 0;
            }

            #chat-screen {
                display: flex;
                flex-direction: column-reverse;
                /* justify-content: space-between; */
                flex-grow: 2;
                color: #333;
            }

            #chat-screen .msg-compose {
                background-color: #fff;
                padding: 1rem;
                display: flex;
                /* justify-content: space-between; */
            }

            #chat-screen .msg-compose textarea {
                flex-grow: 2;
                margin: 0 1rem;
                resize: none;
                border: none;
                padding-top: 5px;
                height: 2rem;
            }

            #chat-screen .msg-compose textarea:focus {
                outline: none;
            }

            #chat-screen .msg-compose i {
                color: #4ad99b;
                cursor: pointer;
            }

            #messages {
                overflow-x: hidden;
                flex-grow: 1;
                padding: 1rem;

            }

            #messages article {
                display: flex;
                justify-content: flex-start;
                margin-bottom: 2rem;
            }

            #messages article .avatar {
                margin-right: 1rem;
            }

            #messages .right .avatar {
                margin-right: 0;
            }

            .msg {
                display: flex;
                justify-content: space-between;
            }

            .msg .pointer {
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 1rem 1.5rem 0;
                border-color: transparent #fff transparent transparent;
                margin: 0 0;
            }

            .inner-msg {
                background-color: #fff;
                width: 50%;
                padding: 1.5rem 1rem;
                -webkit-text-fill-color: #333;
                border-radius: 0 4px 4px 4px;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
                text-align: left;
                margin: 0 0;
            }

            .right {
                flex-direction: row-reverse;
            }

            .right .msg {
                flex-direction: row;
            }

            .right .msg .pointer {
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 1.5rem 1rem 0 0;
                border-color: #fff transparent transparent transparent;
                margin: auto 0;

            }

            .right .msg .inner-msg {
                border-radius: 4px 0 4px 4px;
                box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.25);
                text-align: right;
            }

   