/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
  font-family: 'Lato', Helvetica, sans-serif;
overflow: initial;
}
* {
    box-sizing: border-box;
}
.nav{
  margin-top:0%;
  width:100%;
  height:70px;
background-color:#232527;

}
.nav img{
/* float:left; */
height: 70px;
width:12%;

}
