<textarea autofocus type="text" class="chat-input-text" placeholder="Say something" #message (keydown.enter)="onSubmit()"
  (keyup.enter)="message.value = ''" (keyup.escape)="dismiss.emit()"></textarea>
<button type="submit" class="chat-input-submit" (click)="onSubmit()">
    <span class="glyphicon glyphicon-send"></span>
</button>
